* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
.container {
    margin: 100px auto;
    width: 80%;
}
/* IMPOSTATO MARGINI E POSIZIONE DELLA RIGA */
.row {
    margin: 40px 0px;
    position: relative;
}
/* IMPOSTATO POSIZIONE, MARGINE E GRANDEZZA DELLA VETRINA */
.showcase{
    position: relative;
    margin: 5px;
    width: 400px;
}
/* IMPOSTATO MARGINI E GRANDEZZA DEI DETTAGLI */
.details {
    width: 350px;
    margin: 5px;
}
/* IMPOSTATO IL DISPLAY INLINE-BLOCK PER AVERE I BLOCCHI ALLINEATI IN ORIZZONTALE */
.item{
    display: inline-block;
}
/* IMPOSTATO LA GRANDEZZA DELL'IMMAGINE A E VISUALIZZAZIONE FISSA  */
.imga {
    display: block;
    width: 100%;
}
/* IMPOSTATO LA GRANDEZZA, LA POSIZIONE DELL'IMMAGINE B E CHE SIA NASCOSTA  */
.imgb {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .2s ease;
}
/* IMPOSTATO CHE AL PASSAGGIO DEL MOUSE L'IMMAGINE B APPAIA */
.showcase:hover .imgb {
    opacity: 1;
}
/* IMPOSTATO LA GRANDEZZA, LA POSIZIONE E IL COLORE DI SFONDO DELLA STELLA */
#heart {
    position: absolute;
    background-color: white;
    right: 0;
    top: 10px;
    font-size: 30;
    font-weight: bold;
    padding: 5px 10px;
}
/* IMPOSTATO LA GRANDEZZA, LA POSIZIONE E IL COLORE DEL TAG DI SCONTO*/
.discount {
    position: absolute;
    background-color: #eb0037;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    font-size: 12px;
    left: 0;
    bottom: 20px;
}
/* IMPOSTATO LA GRANDEZZA, LA POSIZIONE E IL COLORE DEL TAG DI SOSTENIBILITA' */
.sustainability {
    position: absolute;
    background-color: #00875a;
    color: white;
    font-weight: bold;
    padding: 2px 5px;
    font-size: 12px;
    left: 40px;
    bottom: 20px;
}
/* IMPOSTATO LA POSIZIONE DEL ULTIMO TAG DI SOSTENIBILITA' */
.sustainability.th{
    left: 0;
}
/* IMPOSTATO IL MARGINE E LA GRANDEZZA DEL NOME DEL BRAND */
.brand, .price {
    font-size: 14px;
    margin: 0;
}
/* IMPOSTATO IL MARGINE E LA GRANDEZZA DEL MODEL DEL BRAND */
.model {
    margin: 0;
    font-weight: bold;
}
/* IMPOSTATO IL COLORE E LA GRANDEZZA DEL PREZZO SCONTATO */
.price .or {
    font-weight: bold;
    color: #eb0037;
}
/* IMPOSTATO LA LINEA DI TAGLIO DEL PREZZO ORIGINARIO */
.price .discounted {
    text-decoration: line-through;
}

